<div
  class="magic-card"
  [ngClass]="{ selected: cardSelected }"
  (click)="selectCard()"
>
  <p class="magic-card__identity" [innerHTML]="newColorIdentity"></p>
  <div class="magic-card__info">
    <div class="magic-card__img">
      <img src="{{ card?.imageUrl }}" alt="Card image" />
    </div>
    <div class="magic-card__details">
      <h2>{{ card?.name }}</h2>
      <p class="magic-card__mana" [innerHTML]="newManaCost"></p>
      <p class="magic-card__text" [innerHTML]="newText"></p>
    </div>
  </div>
</div>
