<form class="form-fields" (ngSubmit)="onSubmit(nomeInput.value, selectedValue)">
    <mat-form-field class="form-field-input">
      <mat-label>Nome</mat-label>
      <input matInput #nomeInput  />
    </mat-form-field>
    <mat-form-field class="form-field-input">
      <mat-label>Bloco</mat-label>
      <mat-select required [(ngModel)]="selectedValue" name="block">
        <mat-option value="amonkhet">Amonkhet</mat-option>
        <mat-option value="ixalan">Ixalan</mat-option>
        <mat-option value="zendikar">Zendikar</mat-option>
        <mat-option value="ravnica">Ravnica</mat-option>
        <mat-option value="onslaught">Onslaught</mat-option>
      </mat-select>
    </mat-form-field>
    <button class="form-field-button" mat-raised-button color="primary" [disabled]="!selectedValue" [ngClass]="{'disabled-button': !selectedValue}">
      Buscar
    </button>
  </form>
  