.body
    display: flex
    flex-direction: column
    justify-content: start
    align-items: center
    background-image: url('../assets/img/background.jpg')
    background-size: cover
    min-height: 100vh
    width: 100%
    padding-bottom: 50px
    img
        height: 200px
    .body-subtitle
        margin: 20px 0 50px 2px
        color: #e8e9e9
        font-family: "Lobster", sans-serif
        font-size: 24px
