.dashboard
    width: 90vw
    min-height: 60vh
    border: 2px solid #e8e9e9
    border-radius: 15px
    background-color: #6b6b6b8c
    padding: 0 15px
    margin: 0 auto
    .dashboard-cardlist
        display: flex
        flex-direction: row
        justify-content: space-evenly
        flex-wrap: wrap

